/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */

// Imports --------------------------------------------------------------*/

@import "defaults";

/* Layout --------------------------------------------------------------*/

@include susy;

// change '#page' to match your HTML container element(s)
#page {
  @include container;
//  @include show-grid("grid.png");
}

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width, 
// and 20 is the (optional) line-height.

/* Styles --------------------------------------------------------------*/

#header {
  @include columns(12);
  @include alpha;
  @include leader(2);
  @include trailer(1);
  
  h1#banner {
    @include columns(6,12);
  }
  #logos {
    @include columns(5,12);
    @include omega(5);
    #tbij_logo {
      @include leader(.1);
    }
    #ft_logo {
      @include leader(.5);
    }
  }
}
#footer {
  #google_attribution {
    @include columns(3, 12);
    @include suffix(9);
    @include omega(3);
    font-size: 0.7em;
    color: rgb(103, 103, 103);
  }
}
#content {
  @include columns(12);
  @include alpha;

  ul {
    @include no-style-list;
  }

  .result_info {
    @include columns(12, 12);
    @include omega(12);
  }
  .pagination {
    @include columns(6, 12);
    @include prefix(6);
    @include omega(6);
    text-align: right;    
  }
  #eu_amount {
    @include leader(0.25);
    @include trailer(0.25);
    @include columns(12, 12);
    p.eu_amount {
      @include columns(7, 12);
      @include omega(7);
      span.eu_amount {
        font-size: 2em;
      }
      text-align: right;
    }
  }

  .translation, .euro_conversion {
    color: #666;
  }
  #search {
    @include columns(12);
    @include trailer(1);
    span.query {
      @include columns(10,12);
    }
    span.query_short {
      @include columns(4,12);
    }
    span.submit {
      @include columns(2,12);
      @include omega(2);
    }
    span.submit_short {
      @include columns(2,12);
    }
  }
  #facets {
    @include columns(12);
    @include trailer(1);
    .country {
      @include columns(2, 12);
    }
    .countries {
      .countries1 {
        @include columns(2, 12);
      }
      .countries2 {
        @include columns(2, 12);
      }    
      .countries3 {
        @include columns(2, 12);
      }    
      .countries4 {
        @include columns(2, 12);
      }
    }
    .regions {
      .regions1 {
        @include columns(4, 12);
      }
      .regions2 {
        @include columns(4, 12);
      }
    }
    .to_csv {
      @include columns(2, 12);
      @include omega(2);
      text-align: right;
    }
  }
  .facet_row {
    font-size: 0.9em;
  }
  .items {
    @include columns(12, 12);
    @include omega(12);
  }
  .amount {
    text-align: right;
    width: 8em;
  }
  td {
    font-size: 0.9em;
  }
}
