- if facet
  %ul.facet
    - facet.each do |row|
      - if row
        %li.facet_row
          - if total == 1          
            = h(row.value)
          - else
            - facet_params = params.merge(facet_name => row.value)
            - facet_params.delete(:page)
            = link_to h(row.value), facet_params
            %span.count== (#{row.count})
